.timeSlot {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-primary-800);
  border-radius: var(--radius-xl);
  transition: all 0.2s ease;
  white-space: nowrap;
}

.timeSlot:hover:not(.unavailable) {
  background-color: var(--color-primary-900);
}

.selected {
  background-color: var(--color-success);
}

.selected:hover:not(.unavailable) {
  background-color: var(--color-success-dark);
}

.unavailable {
  background-color: var(--color-neutral-300);
  cursor: not-allowed;
  opacity: 0.6;
}
